body {
  background-color: #FFFF;
}
header {
  background-color: #ffe4f8;
  background-position: center;
  background-image: url('../IMG/cover.png');
  background-size: cover;
  position: relative;
  height: 30%;
}
h1::before, h1::after {
  display:inline-block;
  vertical-align: middle;
  height:10px;
  width:100px;
  background: #ffffff;
  content:""
}
        /* Encadrement du nom */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
                              /* début du header */
.Nom {
  text-align: center;
  font-style: normal;
  font-family: serif;
  font-size: 400%;
  position: relative;
  top: 20%;
  font-family: "Mansalva";
  color : #cbad6c
}
.Fonction {
  text-align: center;
  font-style: normal;
  font-family: serif;
  font-size: 200%;
  position: relative;
  top: 35%;
  font-family: "Advent Pro";
  /* Slide du header */
  animation-duration: 3s;
  animation-name: slidein;
}
                              /* Fin du header */
.nav {
  background-color: #ded5dd;
  text-decoration: none;
  display: inline;
  box-sizing: border-box;
  position: relative;
}
.menu {
  background-color: #cbad6c;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: #FFFF;
  font-family: "Advent Pro";
  font-size: 150%;
}
.about {
  border: 1px solid black;
  text-align: justify;
  font-family: "Advent Pro";
  font-size: 150%;
  box-shadow: 12px 12px 2px 1px rgb(222, 213, 221);
}
.about h3 {
  text-align: center;
  padding-bottom: 4%;
}
.about img {
  width: 50%;
  border-radius: 10% 30%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
  margin-right: 5%;
}
.qualifications {
  border: 1px solid black;
  font-family: "Advent Pro";
  font-size: 150%;
  border-radius: 50% 20% / 10% 40%; /* encadrement du bloc4 */
  padding-left: 2%;
  padding-top: 1%;
}
.experiences {
  border: 1px solid black;
  font-family: "Advent Pro";
  font-size: 150%;
  border-radius: 40% 10% / 10% 40%;  /* encadrement du bloc */
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 1%;
  /* background-color: #ffe4f8; */
}
                          /* Barre latérale de liens */
.network{
  border: 1px solid black;
  font-family: "Advent Pro";
  font-size: 170%;
  text-align: center;
}
.link {
   width: 50%; /* taille des images "network" */
}
                          /* Début du footer */
footer {
    background-color: #ffe4f8;
}
.contact2 {
  text-align: center;
  font-size: 200%;
  font-family: "Advent Pro";
}
